#funcioarios{
    width: 80%;
    margin: auto;
    border: 2px #fff solid;
    border-collapse: collapse;
    text-align: center;
}
#funcioarios thead{
    background: red ;
    text-transform: uppercase;
    font-size: 12px;
}
/*  */
#funcioarios thead tr th{
    padding: 6px 10px;
}

#funcioarios tbody tr th{
    padding: 8px 10px;
}
